{
  "openapi": "3.1.0",
  "info": {
    "title": "Idesaign API",
    "version": "1.0.0",
    "description": "Comprehensive API specification for Idesaign, a Next.js 15 AI-powered design and image generation platform. Supports image processing, AI tools, file management, generation, community features, and marketplace functionality.",
    "contact": {
      "name": "Idesaign Support",
      "url": "https://idesaign.ai/support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://idesaign.ai/license"
    }
  },
  "servers": [
    {
      "url": "https://idesaign.ai",
      "description": "Production server",
      "variables": {}
    },
    {
      "url": "https://staging.idesaign.ai",
      "description": "Staging server",
      "variables": {}
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server",
      "variables": {}
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    },
    {
      "AdminAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health monitoring endpoints"
    },
    {
      "name": "AI Tools",
      "description": "AI-powered image processing and generation tools"
    },
    {
      "name": "Files",
      "description": "File upload, listing, and deletion operations"
    },
    {
      "name": "Formats",
      "description": "Export format support and processing"
    },
    {
      "name": "Generation",
      "description": "Image generation and model management"
    },
    {
      "name": "History",
      "description": "Generation history tracking and management"
    },
    {
      "name": "Feedback & Preferences",
      "description": "User feedback collection and preference tracking"
    },
    {
      "name": "Comparison",
      "description": "A/B comparison and evaluation"
    },
    {
      "name": "Uploads",
      "description": "Image, asset, and font upload endpoints"
    },
    {
      "name": "Jobs",
      "description": "Asynchronous job progress tracking"
    },
    {
      "name": "Community",
      "description": "Community gallery, posts, prompts, and social features"
    },
    {
      "name": "Marketplace",
      "description": "Marketplace catalog and data access"
    },
    {
      "name": "Admin",
      "description": "Administrative analytics, access logs, and management"
    },
    {
      "name": "Integration",
      "description": "Third-party integrations and data transfer"
    },
    {
      "name": "Webhooks",
      "description": "Webhook handlers for external services"
    },
    {
      "name": "SMS/Cowork",
      "description": "SMS messaging and collaboration features"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Basic health check",
        "description": "Returns basic service health status. No authentication required.",
        "operationId": "getHealth",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/deep": {
      "get": {
        "summary": "Deep health check",
        "description": "Performs deep health checks including Redis, cache, and queue connectivity. Rate limited to 1 request per 30 seconds.",
        "operationId": "getDeepHealth",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "All services healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepHealthResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "One or more services unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/studio/ai/detect-faces": {
      "post": {
        "summary": "Face detection",
        "description": "Detects faces in uploaded images and returns face coordinates and metadata. Supports images up to 50MB.",
        "operationId": "detectFaces",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL or base64-encoded image data"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "threshold": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "description": "Detection confidence threshold"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Faces detected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "faces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FaceDetection"
                      }
                    },
                    "processingTime": {
                      "type": "number",
                      "description": "Processing time in milliseconds"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/enhance-portrait": {
      "post": {
        "summary": "Portrait enhancement",
        "description": "Enhances portrait images with skin smoothing, brightness adjustment, and beauty filters.",
        "operationId": "enhancePortrait",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.5,
                    "description": "Enhancement strength"
                  },
                  "skinSmoothing": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portrait enhanced successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string",
                      "description": "Enhanced image URL"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "Job ID for async tracking"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/inpaint": {
      "post": {
        "summary": "Mask-based inpainting",
        "description": "Fills masked regions in an image using AI inpainting. Requires image and corresponding mask.",
        "operationId": "inpaint",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl",
                  "maskUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Source image URL"
                  },
                  "maskUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Mask image URL (white=fill, black=keep)"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of what to fill"
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inpainting completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/remove-bg": {
      "post": {
        "summary": "Background removal",
        "description": "Removes background from images and returns transparent PNG.",
        "operationId": "removeBg",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "foregroundColor": {
                    "type": "string",
                    "description": "Optional replacement background color (hex)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Background removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/remove-object": {
      "post": {
        "summary": "Object removal",
        "description": "Removes specified objects from images using content-aware inpainting.",
        "operationId": "removeObject",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl",
                  "maskUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "maskUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Mask indicating object to remove (white=remove)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Object removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/style-transfer": {
      "post": {
        "summary": "Style transfer",
        "description": "Applies artistic style from one image to another. Supports both sync and async modes.",
        "operationId": "styleTransfer",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contentImageUrl",
                  "styleImageUrl"
                ],
                "properties": {
                  "contentImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Image to apply style to"
                  },
                  "styleImageUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Reference style image"
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.7,
                    "description": "Style strength"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false,
                    "description": "Process asynchronously"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Style transfer completed or queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/text-edit": {
      "post": {
        "summary": "Natural language image editing (flagship)",
        "description": "Edit images using natural language descriptions. Flagship feature supporting complex image manipulation.",
        "operationId": "textEdit",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl",
                  "prompt"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000,
                    "description": "Natural language description of desired edit"
                  },
                  "maskUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Optional mask for targeted editing"
                  },
                  "strength": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 0.8
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image edit completed or queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/ai/upscale": {
      "post": {
        "summary": "Image upscaling",
        "description": "Upscale images by 2x or 4x using AI enhancement. Supports both sync and async modes.",
        "operationId": "upscale",
        "tags": [
          "AI Tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl",
                  "scale"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "scale": {
                    "type": "integer",
                    "enum": [
                      2,
                      4
                    ],
                    "description": "Upscale factor"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image upscaled successfully or queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "originalSize": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        }
                      }
                    },
                    "upscaledSize": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/files/upload": {
      "post": {
        "summary": "File upload",
        "description": "Upload image files up to 50MB. Supports multipart form data. Rate limited to 100 requests/hour.",
        "operationId": "uploadFile",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (max 50MB)"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional custom name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "fileId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "File too large (max 50MB)"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/files/list": {
      "get": {
        "summary": "List user files",
        "description": "List all uploaded files for current user with pagination support.",
        "operationId": "listFiles",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_desc",
                "created_asc",
                "name_asc",
                "name_desc",
                "size_asc",
                "size_desc"
              ],
              "default": "created_desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileInfo"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/files/delete": {
      "delete": {
        "summary": "Delete file",
        "description": "Delete a specific file by ID.",
        "operationId": "deleteFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/formats": {
      "get": {
        "summary": "List export formats",
        "description": "List all available export formats with specifications.",
        "operationId": "listFormats",
        "tags": [
          "Formats"
        ],
        "responses": {
          "200": {
            "description": "Export formats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "formats": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExportFormat"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/formats/export-psd": {
      "post": {
        "summary": "PSD export",
        "description": "Export image to PSD format. Supports both sync and async processing.",
        "operationId": "exportPsd",
        "tags": [
          "Formats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "layers": {
                    "type": "boolean",
                    "default": true,
                    "description": "Include layer information"
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "low",
                      "medium",
                      "high"
                    ],
                    "default": "high"
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PSD export completed or queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "downloadUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/formats/export-tiff": {
      "post": {
        "summary": "TIFF export",
        "description": "Export image to TIFF format with compression options. Supports both sync and async.",
        "operationId": "exportTiff",
        "tags": [
          "Formats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageUrl"
                ],
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "compression": {
                    "type": "string",
                    "enum": [
                      "none",
                      "lzw",
                      "zip",
                      "jpeg"
                    ],
                    "default": "lzw"
                  },
                  "bitDepth": {
                    "type": "integer",
                    "enum": [
                      8,
                      16,
                      32
                    ],
                    "default": 8
                  },
                  "async": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TIFF export completed or queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "downloadUrl": {
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/formats/process-raw": {
      "post": {
        "summary": "RAW processing",
        "description": "Process RAW image files with color correction and tone mapping. Async only.",
        "operationId": "processRaw",
        "tags": [
          "Formats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileUrl"
                ],
                "properties": {
                  "fileUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to RAW file"
                  },
                  "whiteBalance": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "daylight",
                      "cloudy",
                      "shade",
                      "tungsten",
                      "fluorescent",
                      "flash",
                      "custom"
                    ],
                    "default": "auto"
                  },
                  "exposure": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "contrast": {
                    "type": "number",
                    "minimum": -1,
                    "maximum": 1,
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RAW processing queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/generate/{model}": {
      "post": {
        "summary": "Generate images",
        "description": "Generate images using specified AI model with prompt and parameters.",
        "operationId": "generateImage",
        "tags": [
          "Generation"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Model identifier (e.g., dall-e-3, stable-diffusion-3)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "negativePrompt": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "width": {
                    "type": "integer",
                    "enum": [
                      512,
                      768,
                      1024
                    ],
                    "default": 1024
                  },
                  "height": {
                    "type": "integer",
                    "enum": [
                      512,
                      768,
                      1024
                    ],
                    "default": 1024
                  },
                  "steps": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 100,
                    "default": 50
                  },
                  "guidanceScale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 7.5
                  },
                  "seed": {
                    "type": "integer"
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4,
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "seed": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "Get model info",
        "description": "Get detailed information about a specific generation model.",
        "operationId": "getModelInfo",
        "tags": [
          "Generation"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelInfo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/generate/estimate": {
      "post": {
        "summary": "Cost estimation",
        "description": "Estimate cost for image generation with given parameters.",
        "operationId": "estimateCost",
        "tags": [
          "Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "quantity"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost estimated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "estimatedCost": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "creditsRequired": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "List models",
        "description": "Get list of all available generation models.",
        "operationId": "listModels",
        "tags": [
          "Generation"
        ],
        "responses": {
          "200": {
            "description": "Models list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ModelInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/generate/status": {
      "post": {
        "summary": "Get job status",
        "description": "Get status of a generation job using jobId.",
        "operationId": "getJobStatus",
        "tags": [
          "Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jobId"
                ],
                "properties": {
                  "jobId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "Get job status (GET)",
        "description": "Get status of a generation job using query parameter.",
        "operationId": "getJobStatusGet",
        "tags": [
          "Generation"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/generate/batch": {
      "post": {
        "summary": "Batch generation",
        "description": "Generate multiple images in batch with different prompts.",
        "operationId": "batchGenerate",
        "tags": [
          "Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jobs"
                ],
                "properties": {
                  "jobs": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "required": [
                        "prompt",
                        "model"
                      ],
                      "properties": {
                        "prompt": {
                          "type": "string"
                        },
                        "model": {
                          "type": "string"
                        },
                        "parameters": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch generation queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "batchId": {
                      "type": "string"
                    },
                    "jobIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "summary": "Get batch status",
        "description": "Get status of a batch generation job.",
        "operationId": "getBatchStatus",
        "tags": [
          "Generation"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "processing",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "completed": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "percentage": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobStatus"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/history/list": {
      "get": {
        "summary": "List generation history",
        "description": "List all past generation results with pagination.",
        "operationId": "listHistory",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_desc",
                "created_asc"
              ],
              "default": "created_desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryResult"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/history/{resultId}": {
      "delete": {
        "summary": "Delete history entry",
        "description": "Delete a specific generation result from history.",
        "operationId": "deleteHistoryEntry",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History entry deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/feedback/submit": {
      "post": {
        "summary": "Submit feedback",
        "description": "Submit feedback on generated images or features.",
        "operationId": "submitFeedback",
        "tags": [
          "Feedback & Preferences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resultId",
                  "rating"
                ],
                "properties": {
                  "resultId": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/feedback/{resultId}": {
      "get": {
        "summary": "Get feedback",
        "description": "Retrieve feedback for a specific result.",
        "operationId": "getFeedback",
        "tags": [
          "Feedback & Preferences"
        ],
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feedback": {
                      "$ref": "#/components/schemas/Feedback"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/upload/image": {
      "post": {
        "summary": "Upload image",
        "description": "Upload an image for processing or reference.",
        "operationId": "uploadImage",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "imageId": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "413": {
            "description": "File too large"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/jobs/{jobId}/progress": {
      "get": {
        "summary": "Get job progress",
        "description": "Get real-time job progress via Server-Sent Events (SSE) or JSON polling.",
        "operationId": "getJobProgress",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sse",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/community": {
      "get": {
        "summary": "API documentation",
        "description": "Get Community API documentation and endpoints.",
        "operationId": "getCommunityDocs",
        "tags": [
          "Community"
        ],
        "responses": {
          "200": {
            "description": "Documentation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/studio/community/gallery": {
      "get": {
        "summary": "Get gallery",
        "description": "Browse community-shared gallery images.",
        "operationId": "getGallery",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "trending",
                "new",
                "popular"
              ],
              "default": "trending"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gallery items retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GalleryItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Submit to gallery",
        "description": "Submit an image to the community gallery.",
        "operationId": "submitToGallery",
        "tags": [
          "Community"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "imageId",
                  "title"
                ],
                "properties": {
                  "imageId": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted to gallery",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "galleryItemId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/marketplace/catalog": {
      "get": {
        "summary": "Get marketplace catalog",
        "description": "Browse available marketplace data products and assets.",
        "operationId": "getCatalog",
        "tags": [
          "Marketplace"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketplaceProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/marketplace/usage": {
      "get": {
        "summary": "Get usage report",
        "description": "Get marketplace data usage report for current user.",
        "operationId": "getMarketplaceUsage",
        "tags": [
          "Marketplace"
        ],
        "responses": {
          "200": {
            "description": "Usage report retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalRequests": {
                      "type": "integer"
                    },
                    "creditsUsed": {
                      "type": "number"
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": {
                            "type": "string"
                          },
                          "requests": {
                            "type": "integer"
                          },
                          "creditsUsed": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/admin/analytics": {
      "get": {
        "summary": "Get revenue analytics",
        "description": "Get detailed revenue and usage analytics for admin users.",
        "operationId": "getAnalytics",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalRevenue": {
                      "type": "number"
                    },
                    "totalUsers": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/admin/access-logs": {
      "get": {
        "summary": "Get access logs",
        "description": "Get API access logs for audit and monitoring.",
        "operationId": "getAccessLogs",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access logs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessLog"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/cowork/sms/send": {
      "post": {
        "summary": "Send SMS",
        "description": "Send SMS messages to users or recipients.",
        "operationId": "sendSms",
        "tags": [
          "SMS/Cowork"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "message"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Phone number or user ID"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 160
                  },
                  "templateId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/cowork/sms/status": {
      "get": {
        "summary": "Get SMS status",
        "description": "Get delivery status of SMS messages.",
        "operationId": "getSmsStatus",
        "tags": [
          "SMS/Cowork"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "sent",
                        "delivered",
                        "failed"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/studio/webhooks/stripe": {
      "post": {
        "summary": "Stripe webhook handler",
        "description": "Handle Stripe webhook events for payment processing.",
        "operationId": "handleStripeWebhook",
        "tags": [
          "Webhooks"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Firebase ID token for user authentication"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for marketplace and integration access"
      },
      "AdminAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Admin token with elevated privileges"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unhealthy"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "timestamp"
        ]
      },
      "DeepHealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unhealthy"
            ]
          },
          "services": {
            "type": "object",
            "properties": {
              "redis": {
                "$ref": "#/components/schemas/ServiceStatus"
              },
              "cache": {
                "$ref": "#/components/schemas/ServiceStatus"
              },
              "queue": {
                "$ref": "#/components/schemas/ServiceStatus"
              },
              "database": {
                "$ref": "#/components/schemas/ServiceStatus"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status",
          "services",
          "timestamp"
        ]
      },
      "ServiceStatus": {
        "type": "object",
        "properties": {
          "healthy": {
            "type": "boolean"
          },
          "responseTime": {
            "type": "number",
            "description": "Response time in milliseconds"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "healthy"
        ]
      },
      "FaceDetection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "boundingBox": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "width": {
                "type": "number"
              },
              "height": {
                "type": "number"
              }
            }
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "landmarks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "nose",
                    "leftEye",
                    "rightEye",
                    "leftEar",
                    "rightEar",
                    "mouth"
                  ]
                },
                "x": {
                  "type": "number"
                },
                "y": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPrevPage": {
            "type": "boolean"
          }
        }
      },
      "ExportFormat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "extension": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "supportedOptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxSize": {
            "type": "integer"
          }
        }
      },
      "ModelInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "supportedSizes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "costPerImage": {
            "type": "number"
          },
          "averageProcessingTime": {
            "type": "integer",
            "description": "Average processing time in milliseconds"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time"
          },
          "result": {
            "type": "object",
            "properties": {
              "imageUrl": {
                "type": "string"
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "jobId",
          "status"
        ]
      },
      "HistoryResult": {
        "type": "object",
        "properties": {
          "resultId": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "parameters": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          }
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "resultId": {
            "type": "string"
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "comment": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GalleryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "likes": {
            "type": "integer"
          },
          "views": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketplaceProduct": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "dataPoints": {
            "type": "integer"
          },
          "updateFrequency": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "reviews": {
            "type": "integer"
          }
        }
      },
      "AccessLog": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "responseTime": {
            "type": "integer"
          },
          "ipAddress": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "message",
          "statusCode"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required or invalid token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded. See Retry-After header.",
        "headers": {
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "Seconds until next request allowed"
          },
          "X-RateLimit-Limit": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Reset": {
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
