.container {
  height: 4px;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.fill {
  height: 100%;
  width: var(--percentage, 0%);
  background-image: var(--background-image, url(/wr_blue.png));
  background-size: 200px;
  background-repeat: repeat;
  background-color: var(--background-color, #1e40af);
  border-radius: var(--radius-sm);
  transition: width var(--duration-slow) ease-out;
}
